name: KTB_BE CI

# 어떤 이벤트가 발생했을 때 워크플로우를 실행할지 정의합니다.
on:
  push: # 코드가 저장소로 푸시될 때 워크플로우를 실행합니다.
    branches:
      - main # main 브랜치에 코드가 푸시될 때 실행합니다.
  pull_request: # 풀 리퀘스트가 생성 또는 갱신될 때도 워크플로우를 실행합니다.
    branches:
      - main # main 브랜치로 풀 리퀘스트가 열리거나 갱신될 때 실행합니다.

# 실행할 작업을 정의하는 영역입니다.
jobs:
  build:
    runs-on: ubuntu-latest

    # 각 작업에서 실행할 단계(step)들을 정의합니다.
    steps:
      # 소스 코드를 체크아웃합니다.
      - name: Checkout repository
        # GitHub 공식 checkout 액션을 사용하여 저장소의 코드를 가져옵니다.
        uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      - name: Run tests
        run: ./gradlew test --no-daemon

      - name: Build with Gradle (without tests)
        run: ./gradlew build --no-daemon -x test
